.main-flex-container{
    border-style: solid;
    border-color: red;
    border-width: 3mm;
    display: flex;
    flex-direction: column;


}

.hero-container {
    
    border-style: solid;
    border-color: blue;
    border-width: 3mm;
   
    display: flex;
    justify-content: center;
    align-items:center;
}

#content-container{
    border-style: solid;
    border-color: rgb(0, 255, 26);
    border-width: 3mm;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;

}

.card-container{
    border-style: solid;
    border-color: purple;
    border-width: 3mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
    margin: 1%;

}

img{
    width: 100%;
}

